@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

*,
::after,
::before {
  padding: 0;
	margin: 0;
  box-sizing: border-box;
}

body {
	overflow-y: auto;
	height: 100vh;
	background-color: #f5f1ed;
	font-family: "Open Sans", sans-serif;
}

#__next {
  position: relative;
	min-height: 100vh;
}

input:disabled,
textarea:disabled,
input:disabled::placeholder,
textarea:disabled::placeholder {
	opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
}

input[type="checkbox"]:checked::before {
  content: '✓';
  color: white;
  font-size: 16px;
  display: block;
}

@keyframes jumpIn {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  50% {
      transform: translateY(-30%);
      opacity: 1;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-jump-in {
  animation: jumpIn 0.5s ease-in-out;
}